/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Load Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #99433d;
  --ifm-color-primary-dark: #8a3c37;
  --ifm-color-primary-darker: #823934;
  --ifm-color-primary-darkest: #6b2f2b;
  --ifm-color-primary-light: #a84a43;
  --ifm-color-primary-lighter: #b04d46;
  --ifm-color-primary-lightest: #bd6059;
  --ifm-footer-padding-vertical: 12px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FFC03A;
  --ifm-color-primary-dark: #cb807b;
  --ifm-color-primary-darker: #c6746e;
  --ifm-color-primary-darkest: #b54f48;
  --ifm-color-primary-light: #dfb2af;
  --ifm-color-primary-lighter: #e4bebc;
  --ifm-color-primary-lightest: #f4e4e3;
  --ifm-background-color: #0b0b0b;
  --ifm-footer-padding-vertical: 12px;
}

/* styles below apply to DOCS folder */

.theme-doc-markdown img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  float: right;
  margin-left: 20px
}

.theme-doc-markdown h1 {
  font-size: 32px;
}

.theme-doc-markdown h2 {
  font-size: 24px;
}

.theme-doc-markdown h3 {
  font-size: 20px;
}

.theme-doc-markdown h4 {
  font-size: 16px;
}

ol {
  list-style-type: decimal;
  margin-left: 32px;
}

ul {
  margin-left: 14px;
}

/* styles below apply to PAGES and BLOG folder */

.main-wrapper h1 {
  font-size: 32px;
  color: var(--ifm-color-primary)
}

.main-wrapper h2 {
  font-size: 24px;
  color: var(--ifm-color-primary)
}

.main-wrapper h3 {
  font-size: 20px;
  color: var(--ifm-color-primary)
}

.main-wrapper h4 {
  font-size: 16px;
  color: var(--ifm-color-primary)
}

/* Blog titles defined in markdown */
.markdown h1:first-child {
  color: var(--ifm-color-primary)
}

.footer__link-item {
  display: flex;
  gap: 4px;
  align-items: center;
  line-height: 1.5;
}

.navbar__link {
  display: flex;
  gap: 4px;
  align-items: center;
}

.footer__col {
  margin-bottom: 0;
}

/* styles below apply to BLOG folder */

.markdown a {
  text-decoration: underline;
}

.markdown ul {
  list-style: disc;
}

.markdown ul li {
  margin-left: 1rem;
}